<style type="text/css">
div.eventList li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
</style>

<div class="outer">
	<div class="leftPane" style="width:10%; float:left;">
		ad
	</div>
	<div class="centerPane" style="width:58%; float:left;">
		<div class="recentActivity">
			Recent Activity
		</div>
		<div class="eventList">
			<table>
				<tr>
					<th colspan="4" style="text-align:center;">Latest Events</th>
				</tr>
				<tr ng-repeat="event in displayData.events">
					<td style="padding-right:15px;"><a href="#/singleEvent/{{event.eventID}}">{{event.eventName}}</a></td>
					<td style="padding-right:15px;">{{event.startDate}} - {{event.endDate}}</td>
					<td style="padding-right:15px;">{{event.city}}, {{event.country}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="rightPane" style="width:30%; float:left;">
		Archetypes
		<table>
			<tr ng-repeat="deckType in displayData.deckTypes">
				<td><a href="#/singleDeckType/{{deckType.ID}}">{{deckType.Name}}</a> (<a href="#/multiDeck/{{archetype.ID}}">{{deckType.numDecks}}</a>)</td>
			</tr>
		</table>
	</div>
</div>