<style type="text/css">
div.ui-menu li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

div.deckHeader table tr tx {
	border:black solid 1px;
}

</style>

<div class="ui-menu" ng-repeat="deck in displayData.decks">
	<div class="deckHeader" style="padding-left:20%;">
		<table width="60%" style="border: black solid 1px;">
			<tr>
				<td style="padding-left:5px;">
					<h3>{{deck.name}}</h3>
				</td>
				<td style="float:right; padding-right:5px;">
					<h5>{{deck.eventName}} - {{deck.place}} - {{deck.date}}</h5>
				</td>
			</tr>
			<tr>
				<td style="padding-left:15px;">
					<h5>{{deck.creditedTo}}</h5>
				</td>
				<td style="float:right; padding-right:5px;">
					{{displayData.viewType.code}}
					<select ng-options="item.title for item in displayData.viewTypeOptions" ng-model="displayData.viewType">
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="deckBody" style="padding-left:20%;">
		<table width="60%" style="border: black solid 1px;">
			<tr>
				<td style="vertical-align: top;">
					<ul>
						<!-- start DEFAULT -->
						<li ng-if="displayData.viewType.code == 'Default'"><b>Creature</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && displayData.viewType.code == 'Default'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Default'"/>
						<li ng-if="displayData.viewType.code == 'Default'"><b>Land</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Land' && displayData.viewType.code == 'Default'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end DEFAULT -->
						<!-- start TYPE -->
						<li ng-if="displayData.viewType.code == 'Type'"><b>Creature</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Type'"/>
						<li ng-if="displayData.viewType.code == 'Type'"><b>Planeswalker</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Planeswalker' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Type'"/>
						<li ng-if="displayData.viewType.code == 'Type'"><b>Land</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Land' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end TYPE -->
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>1cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == '1' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;">
					<ul>
						<!-- start DEFAULT -->
						<li ng-if="displayData.viewType.code == 'Default'"><b>Spell</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land'
							&& card.cardType != 'Sideboard' && displayData.viewType.code == 'Default'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Default'"/>
						<li ng-if="displayData.viewType.code == 'Default'"><b>Sideboard</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Sideboard' && displayData.viewType.code == 'Default'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end DEFAULT -->
						<!-- start TYPE -->
						<li ng-if="displayData.viewType.code == 'Type'"><b>Sorcery</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Sorcery' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Type'"/>
						<li ng-if="displayData.viewType.code == 'Type'"><b>Instant</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Instant' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Type'"/>
						<li ng-if="displayData.viewType.code == 'Type'"><b>Artifact</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Artifact' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<br ng-if="displayData.viewType.code == 'Type'"/>
						<li ng-if="displayData.viewType.code == 'Type'"><b>Enchantment</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Enchantment' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end TYPE -->
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>2cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == '2' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Type' || displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start TYPE -->
						<li ng-if="displayData.viewType.code == 'Type'"><b>Sideboard</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Sideboard' && displayData.viewType.code == 'Type'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end TYPE -->
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>3cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == '3' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>4cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == '4' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>5cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == '5' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>6cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == '6' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>> 6cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType == 'Creature' && card.cmc == 'X' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
			</tr>
			<tr ng-if="displayData.viewType.code == 'Cmc'">
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>1cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == '1' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>2cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == '2' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>3cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == '3' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>4cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == '4' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>5cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == '5' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>6cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == '6' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
				<td style="vertical-align: top;" ng-if="displayData.viewType.code == 'Cmc'">
					<ul>
						<!-- start CMC -->
						<li ng-if="displayData.viewType.code == 'Cmc'"><b>> 6cc</b></li>
						<li ng-repeat="card in deck.cards" ng-if="card.cardType != 'Creature' && card.cardType != 'Land' && card.cardType != 'Sideboard' &&
							card.cmc == 'X' && displayData.viewType.code == 'Cmc'">
							{{card.quantity}} - {{card.cardName}}
						</li>
						<!-- end CMC -->
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>