<style type="text/css">
div.deckList li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

</style>

{{displayData.events[0].eventName}}
<div class="deckList">
	<table>
		<tr>
			<th>Place</th><th>Deck Name</th><th>Player</th><th>Archetype</th>
		</tr>
		<tr ng-repeat="deck in displayData.decks">
			<td>{{deck.place}}</td>
			<td style="padding-right:15px;"><a href="#/singleDeck/{{deck.deckID}}">{{deck.name}}</a></td>
			<td style="padding-right:15px;"><a href="#/singlePlayer/{{deck.playerID}}">{{deck.creditedTo}}</a></td>
			<td style="padding-right:15px;"><a href="#/singleDeckType/{{deck.deckTypeID}}">{{deck.deckTypeName}}</a></td>
		</tr>
	</table>
</div>
<div class="archetypeList">
	<ul>
		<li ng-repeat="deckType in displayData.deckTypeCount">
			{{deckType.deckTypeName}} (<a href="#/multiDeck/{{deckType.deckTypeID}}">{{deckType.count}}</a>)
		</li>
	</ul>
</div>