<!--<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Collection Management</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="styles/main.css">
		
		<style>
		  .my-input {
			-webkit-transition:all linear 0.5s;
			transition:all linear 0.5s;
			background: transparent;
		  }
		  .my-input.ng-invalid {
			color:white;
			background: red;
		  }
		  .my-input[ng-disabled='true'] {
			background: #C0C0C0;
		  }
		  :disabled {
		    background: #C0C0C0;
		  }
		  .my-input-increment {
		    background: #91ff91;
		  }
		  .my-input-decrement {
		    background: #ff9191;
		  }
		</style>
	</head>
	<body ng-app="WebFiles3App">-->
		<div class="container">
			
			<!--<div ng-include="'views/collectionView.html'" ng-controller="CollectionCtrl"></div>-->
			
			<div ng-include="'views/datadrivenGridView.html'" ng-controller="DatadrivenCtrl"></div>
		</div>
		<!--
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		
		<script src="scripts/app.js"></script>
        <script src="scripts/controllers/mainCtrl.js"></script>
		<script src="scripts/controllers/navigationCtrl.js"></script>
		<script src="scripts/controllers/collectionCtrl.js"></script>
		<script src="scripts/controllers/datadrivenCtrl.js"></script>
	</body>
</html>-->