<table style="width:98%;">
	<tr>
		<th ng-repeat="col in grid.rows[0].columns">
			{{col.columnName}}
		</th>
	</tr>
	<tr ng-repeat="row in grid.rows">
		<td ng-repeat="col in row.columns">
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'varchar' && col.readOnly == false" 
				ng-model="col.valueDisplayed" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'varchar' && col.readOnly == true"
				ng-disabled="true" ng-model="col.valueDisplayed" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'date' && col.readOnly == false"
				ng-model="col.valueDisplayed" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'date' && col.readOnly == true"
				ng-disabled="true" ng-model="col.valueDisplayed" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'integer' && col.readOnly == false"
				ng-model="col.valueDisplayed" ng-pattern="/^\d+$/" class="my-input" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'integer' && col.readOnly == true"
				ng-disabled="true" ng-model="col.valueDisplayed" ng-pattern="/^\d+$/" class="my-input" />
			<input type="checkbox" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'bit' && col.readOnly == false"
				ng-checked="col.valueDisplayed" />
			<input type="checkbox" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'bit' && col.readOnly == true"
				ng-disabled="true" ng-checked="col.valueDisplayed" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'increment'"
				ng-pattern="/^\d+$/" class="my-input my-input-increment" ng-model="col.change" ng-blur="increment(row, col, 1);" />
			<input type="text" name="{{col.tableName}}.{{col.columnName}}" id="{{row.rowID}}-{{col.tableName}}-{{col.columnName}}" ng-if="col.columnType == 'decrement'" 
				ng-pattern="/^\d+$/" class="my-input my-input-decrement" ng-model="col.change" ng-blur="increment(row, col, -1);" />
		</td>
	</tr>
</table>