<div>{{error}}</div>
<div class="btn-toolbar" role="toolbar">
	<div class="btn-group btn-group">
		<button type="button" class="btn btn-default" ng-click="saveChanges();"><span class="glyphicon glyphicon-floppy-disk"></span></button>
		<button type="button" class="btn btn-default" ng-click="alert('to do');"><span class="glyphicon glyphicon-plus"></span></button>
		<button type="button" class="btn btn-default" ng-click="alert('to do');"><span class="glyphicon glyphicon-minus"></span></button>
	</div>
	<select name="chosenCube">
		<option ng-repeat="cube in cubeList.cube">{{cube.name}}</option>
	</select>
	<div class="btn-group" data-toggle="buttons" id="buttonsColorSwitching">
		<label class="btn btn-default" ng-class="{'active': $index == 0}" color="{{color.name}}" ng-repeat="color in displayData.meta.colors" ng-click="colorButtonClicked(color.name)">
			{{color.name}}
		</label>
	</div>
</div>

<div>
	<div style="float:left; display:inline-block;">
		<div style="clear:both;" ng-repeat="slot in displayData.slots" ng-if="slot.cards[0].color == displayData.meta.colorSelected">
			<span class="btn btn-draggable-slot" style="float:left;" slotIndex="{{$index}}" data-drag="true" data-jqyoui-options="{revert: true}" ng-model="displayData.slots" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true}">
				<span class="glyphicon glyphicon-align-justify"></span>
				
			</span>
			<span class="btn" style="float:left;"  data-drop="true" data-jqyoui-options="{accept: '.btn-draggable-slot'}" jqyoui-droppable="{onDrop: 'stopSlotDrag({{$index}})'}">
				Move Slot Here
			</span>
			
			<span style="float:left; display: inline-block; min-width:50px;" class="btn" editable-text="slot.slotName" buttons="no">{{slot.slotName || 'empty'}}</span>
		</div>
	</div>
	<div style="float:left; display:inline-block;">
		<span style="clear:both; float:left; display:inline-block;" ng-repeat="slot in displayData.slots" ng-if="slot.cards[0].color == displayData.meta.colorSelected">
			<span style="float:left;" ng-repeat="card in slot.cards">
				<span style="float:left;" ng-if="card.draggable == true" class="btn btn-info btn-draggable btn-draggable-card"  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="slot.cards" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true, onStop: 'stopDrag()'}">{{card.name}}</span>
				<span style="float:left;" ng-if="card.draggable == false" class="btn btn-info" ng-disabled="card.draggable == false" ng-model="slot.cards">{{card.name}}</span>
			</span>
			<span style="float:left;">
				<span style="float:left;" class="btn btn-droppable" ng-model="slot.cards" data-drop="true" data-jqyoui-options="{accept: '.btn-draggable-card'}" jqyoui-droppable="{}">
					Move Card Here
				</span>
			</span>
		</span>
	</div>
</div>