<div>{{error}}</div>
<div>header
<select name="chosenCube">
	<option ng-repeat="cube in cubeList.cube">{{cube.name}}</option>
</select>
<select ng-model="displayData.meta.colorSelected">
	<option ng-repeat="color in displayData.meta.colors">{{color.name}}</option>
</select>
</div>

<div class="testTable">
	<div style="border: 1px solid;" ng-repeat="slot in displayData.slots" ng-if="slot.cards[0].color == displayData.meta.colorSelected">
		<span style="width:9%;">{{slot.generatedSlotName}}</span>
		<span style="width:90%;" class="btn btn-droppable" ng-model="slot.cards" data-drop="true" data-jqyoui-options="{accept: '.btn-draggable'}" jqyoui-droppable="{}">
			<span class="btn btn-info btn-draggable" ng-repeat="card in slot.cards" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="slot.cards" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true, onStop: 'stopDrag()'}" ng-if="card.cardID != '-1'">{{card.name}}</span>
		</span>
	</div>
	<!--<div ng-repeat="slot in testData.slots">
		<div style="width:100%;" class="btn btn-droppable" ng-model="slot.cards" data-drop="true" data-jqyoui-options="{accept: '.btn-draggable'}" jqyoui-droppable="{}">
			<div class="btn btn-info btn-draggable" ng-repeat="card in slot.cards" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="slot.cards" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true, onStop: 'stopDrag()'}">{{card.name}}</div>
		</div>
	</div>-->
	<!--<div>
		<div style="width:100%;" class="btn btn-droppable" ng-model="testData.cards1" data-drop="true" data-jqyoui-options="{accept: '.btn-draggable'}" jqyoui-droppable="{}">
			<div class="btn btn-info btn-draggable" ng-repeat="card in testData.cards1" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="testData.cards1" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true, onStop: 'stopDrag()'}">{{card.name}}</div>
		</div>
	</div>
	<div>
		<div style="width:100%;" class="btn btn-droppable" ng-model="testData.cards2" data-drop="true" data-jqyoui-options="{accept: '.btn-draggable'}" jqyoui-droppable="{}">
			<div class="btn btn-info btn-draggable" ng-repeat="card in testData.cards2" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="testData.cards2" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true, onStop: 'stopDrag()'}">{{card.name}}</div>
		</div>
	</div>-->
</div>

<!--<div class="contentWrapper ng-cloak">
	<div class="content">
	  <div class="row-fluid">
		<ul class="thumbnails">
		  <li class="span3" style="margin-left:10px;">
			  
			<div class="thumbnail" data-drop="true" ng-model="list1" data-jqyoui-options="{accept: '.btn-draggable:not([ng-model=list1])'}" jqyoui-droppable="{multiple:true}">
				<div class="caption">
					<div class="btn btn-info btn-draggable" ng-repeat="item in list1" ng-show="item.name" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate:true}">{{item.name}}</div>
				</div>
			</div>
	
		  </li>
		</ul>
	  </div>
	</div>
</div>-->
<!--
<div class="navbar-inner">
	<div class="container form-inline" style="text-align: center;">
	
		<div ng-repeat="slot in displayData.slots" ng-if="slot.cards[0].color == displayData.meta.colorSelected">
			<div class="btn btn-droppable" ng-repeat="card in slot.cards" data-drop="true" ng-model="slot.cards" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=slot.cards])'}" jqyoui-droppable="{index: {{$index}}}"  ng-if="card.cardID != '-1'">
				<div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="slot.cards" jqyoui-draggable="{index: {{$index}}, placeholder:true, animate:true}" ng-hide="!card.name">{{card.name}}</div>
			</div>
		</div>

	</div>
</div>-->