<div>{{error}}</div>
<div class="btn-toolbar" role="toolbar">
	<div class="btn-group btn-group">
		<button type="button" class="btn btn-default" ng-click="saveChanges();"><span class="glyphicon glyphicon-floppy-disk"></span></button>
	</div>
	<select name="chosenCube">
		<option ng-repeat="cube in cubeList.cube">{{cube.name}}</option>
	</select>
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-default" ng-repeat="color in displayData.meta.colors"  ng-click="colorButtonClicked(color.name)">
			{{color.name}}
		</label>
	</div>
</div>

<div class="testTable">
	<div style=" clear:both;" ng-repeat="slot in displayData.slots" ng-if="slot.cards[0].color == displayData.meta.colorSelected">
		<span style="float:left;" class="btn btn-droppable" ng-model="slot.cards" data-drop="true" data-jqyoui-options="{accept: '.btn-draggable'}" jqyoui-droppable="{}">
			Drop Here
		</span>
		<span style="float:left; display: inline-block; min-width:50px; height:10px;">{{slot.slotName}}</span>
		<span style="float:left;" ng-repeat="card in slot.cards">
			<span style="float:left;" ng-if="card.draggable == true" class="btn btn-info btn-draggable"  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="slot.cards" jqyoui-draggable="{index: {{$index}}, placeholder: false, animate:true, onStop: 'stopDrag()'}">{{card.name}}</span>
			<span style="float:left;" ng-if="card.draggable == false" class="btn btn-info" ng-disabled="card.draggable == false" ng-model="slot.cards">{{card.name}}</span>
		</span>
	</div>
</div>